<div class="main-wrapper">
    <app-header></app-header>
    <app-sidebar-settings></app-sidebar-settings>

    <div class="page-wrapper">
        <h2>Timing Data</h2>
        <div *ngIf="undefined === getData">Loading...</div>
        <div *ngIf="undefined !== getData">
        <ul>
            <li>ID : {{getData._id}}</li>
            <li>Room Number : {{getData.roomNumber}}</li>
            <li>Clinic StartTime : {{getData.clinicStartTime}}</li>
            <li>Clinic EndTime : {{getData.clinicEndTime}}</li>
            <li>Room StartTime : {{getData.roomStartTime}}</li>
            <li>Room EndTime : {{getData.roomEndTime}}</li>
            <li>Status : {{getData.status}}</li>
            <li>Created On : {{getData.createdAt | date:'medium'}}</li>
            <li>Updated On : {{getData.updatedAt | date:'medium'}}</li>
        </ul>
        </div>
    </div>
</div>
