<div class="main-wrapper">
    <app-header></app-header>
    <app-sidebar-settings></app-sidebar-settings>
    <div class="page-wrapper">
        <div class="content">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <h4 class="page-title">Add Timing</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <!-- <p *ngIf="message" class="text-center error">{{message}}</p> -->
                    <form class="form" [formGroup]="submitForm" (ngSubmit)="addData(submitForm,submitForm.value)">
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label>Room<span class="text-danger">*</span></label>
                                    <!-- <input class="form-control" type="text" required autofocus="" formControlName="roomNumber">
                                    <div *ngIf="f.roomNumber.errors" class="help-block">
                                        <div *ngIf="f.roomNumber.errors.required">Room Number is required</div>
                                  </div> -->
                                    <input type="text" formControlName="roomNumber" class="form-control"
                                        [ngClass]="{'is-invalid': isSubmitted && f.roomNumber.errors }" />
                                    <div *ngIf=" isSubmitted && f.roomNumber.errors" class="invalid-feedback">
                                        <div *ngIf="f.roomNumber.errors.required">Room Number is required</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label>Clinic StartTime<span class="text-danger">*</span></label>
                                    <input class="form-control" type="time" required formControlName="clinicStartTime">
                                    <div *ngIf="f.clinicStartTime.errors" class="help-block">
                                        <div *ngIf="f.clinicStartTime.errors.required">Clinic StartTime is required
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label>Clinic EndTime<span class="text-danger">*</span></label>
                                    <input class="form-control" type="time" required formControlName="clinicEndTime">
                                    <div *ngIf="f.clinicEndTime.errors" class="help-block">
                                        <div *ngIf="f.clinicEndTime.errors.required">Clinic EndTime is required</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label>Room StartTime<span class="text-danger">*</span></label>
                                    <input class="form-control" type="time" required formControlName="roomStartTime">
                                    <div *ngIf="f.roomStartTime.errors" class="help-block">
                                        <div *ngIf="f.roomStartTime.errors.required">Room StartTime is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label>Room EndTime<span class="text-danger">*</span></label>
                                    <input class="form-control" type="time" required formControlName="roomEndTime">
                                    <div *ngIf="f.roomEndTime.errors" class="help-block">
                                        <div *ngIf="f.roomEndTime.errors.required">Room EndTime is required</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="m-t-20 text-center">
                            <button class="btn btn-primary submit-btn">Add</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>