<div class="main-wrapper">
    <app-header></app-header>
    <app-sidebar-settings></app-sidebar-settings>
    <div class="page-wrapper">
        <div class="content">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <h4 class="page-title">Add Condition</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <p *ngIf="message" class="text-center error">{{message}}</p>
                    <form class="form" [formGroup]="submitForm" (ngSubmit)="addData(submitForm.value)">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Health Issues<span class="text-danger">*</span></label>
                                    <input class="form-control" type="text" required autofocus="" formControlName="healthIssues">
                                    <div *ngIf="f.healthIssues.errors" class="help-block">
                                        <div *ngIf="f.healthIssues.errors.required">Health Issues is required</div>
                                  </div>
                                </div>
                            </div>
                        </div>
                        <div class="m-t-20 text-center">
                            <button [disabled]="isSubmitted === true || submitForm.invalid" class="btn btn-primary submit-btn">Add</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
