<div class="main-wrapper">
    <app-header></app-header>
    <app-sidebar></app-sidebar>

    <div class="page-wrapper">
        <h2>Receptionist Data</h2>
        <div *ngIf="undefined === getData">Loading...</div>
        <div *ngIf="undefined !== getData">
        <ul>
            <li>ID : {{getData._id}}</li>
            <li>Receptionist Name : {{getData.receptionistName}}</li>
            <li>Email : {{getData.email}}</li>
            <li>Password : {{getData.password}}</li>
            <li>Status : {{getData.status}}</li>
            <li>Created On : {{getData.createdAt | date:'medium'}}</li>
            <li>Updated On : {{getData.updatedAt | date:'medium'}}</li>
        </ul>
        </div>
    </div>
</div>