<div class="main-wrapper">
    <app-header></app-header>
    <app-sidebar-settings></app-sidebar-settings>

    <div class="page-wrapper">
        <div class="content">
            <div class="row">
                <div class="col-sm-4 col-3">
                    <h4 class="page-title">Timing</h4>
                </div>
                <div class="col-sm-8 col-9 text-right m-b-20">
                    <a routerLink="add" routerLinkActive="active" class="btn btn btn-primary btn-rounded float-right"><i
                            class="fa fa-plus"></i> Add Time</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="spinner-border text-primary" role="status" *ngIf="undefined === getAll">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <div *ngIf="undefined !== getAll">
                        <div class="table-responsive">
                            <table class="table table-border table-striped custom-table datatable mb-0">
                                <thead>
                                    <tr>
                                        <th>Room Number</th>
                                        <th>Clinic Timing</th>
                                        <th>Room Timing</th>
                                        <th>Status</th>
                                        <th class="text-right">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let getOne of getAll">
                                        <td>{{getOne.roomNumber}}</td>
                                        <td>{{getOne.clinicStartTime}} to {{getOne.clinicEndTime}}</td>
                                        <td>{{getOne.roomStartTime}} to {{getOne.roomEndTime}}</td>
                                        <td>{{getOne.status}}</td>
                                        <td class="text-right">
                                            <div class="dropdown dropdown-action">
                                                <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown"
                                                    aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" routerLink="view/{{getOne._id}}" routerLinkActive="active"><i
                                                        class="fa fa-pencil m-r-5"></i> View</a>
                                                    <a class="dropdown-item" routerLink="edit/{{getOne._id}}" routerLinkActive="active"><i
                                                            class="fa fa-pencil m-r-5"></i> Edit</a>
                                                    <a class="dropdown-item" href="#" data-toggle="modal"
                                                        data-target="#delete" (click)="getIdData(getOne._id)"><i
                                                            class="fa fa-trash-o m-r-5"></i>
                                                        Delete</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="delete" class="modal fade" role="dialog">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body text-center">
                        <img src="assets/img/sent.png" alt="" width="50" height="46">
                        <h3>Are you sure want to delete this?</h3>
                        <div class="m-t-20"> <a href="#" class="btn btn-white" data-dismiss="modal">Close</a>
                            <a href="#" (click)="deleteOne(getId)" class="btn btn-danger" data-dismiss="modal">
                                Delete
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>