<div class="main-wrapper">
    <app-header></app-header>
    <app-sidebar-settings></app-sidebar-settings>
    <div class="page-wrapper">
        
            <div class="content">
                <div class="spinner-border text-primary" role="status" *ngIf="undefined === getData">
                    <span class="sr-only">Loading...</span>
                </div>
        <div *ngIf="undefined !== getData">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <h4 class="page-title">Edit Specialization</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <p *ngIf="message" class="text-center error">{{message}}</p>
                        <form class="form" [formGroup]="submitForm"
                            (ngSubmit)="updateByIdData(id, submitForm.value)">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Specialization<span class="text-danger">*</span></label>
                                        <input class="form-control" type="text" required autofocus=""
                                            formControlName="specialization">
                                        <div *ngIf="f.specialization.errors" class="help-block">
                                            <div *ngIf="f.specialization.errors.required">Specialization is required
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Condition</label>
                                        <input class="form-control" type="text" formControlName="condition">
                                    </div>
                                </div> -->
                            </div>
                            <div class="m-t-20 text-center">
                                <button routerLink="/master/settings/specialization"
                                class="btn btn-primary submit-btn">Cancel</button>
                                <button [disabled]="isSubmitted === true || submitForm.invalid"
                                    class="btn btn-primary submit-btn">Update</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>