<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div class="sidebar-menu" id="sidebar-menu">
            <ul>
                <li>
                    <a routerLink = "/master" ><i class="fa fa-home back-icon"></i> <span>Back to Home</span></a>
                </li>
                <li class="menu-title">Main</li>
                <li routerLinkActive = "active">
                    <a routerLink = "/master/settings/location" ><i class="fa fa-location-arrow"></i> <span>Manage Locations</span></a>
                </li> 
                <li routerLinkActive = "active">
                    <a routerLink = "/master/settings/specialization" ><i class="fa fa-user-md"></i> <span>Manage Specializations</span></a>
                </li>
                <li routerLinkActive = "active">
                    <a routerLink = "/master/settings/condition"><i class="fa fa-wheelchair"></i> <span>Manage Conditions</span></a>
                </li>
                <li routerLinkActive = "active">
                    <a routerLink = "/master/settings/timing"><i class="fa fa-clock-o"></i> <span>Manage Time</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>