<div class="main-wrapper">
    <app-header></app-header>
    <app-sidebar></app-sidebar>
    <div class="page-wrapper">

        <div class="content">
            <div class="spinner-border text-primary" role="status" *ngIf="undefined === getData">
                <span class="sr-only">Loading...</span>
            </div>
            <div *ngIf="undefined !== getData">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <h4 class="page-title">Edit Clinic Manager</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <p *ngIf="message" class="text-center error">{{message}}</p>
                        <form class="form" [formGroup]="submitForm" (ngSubmit)="updateById(id, submitForm.value)">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label>Clinic Manager Name<span class="text-danger">*</span></label>
                                        <input class="form-control" type="text" required autofocus="" formControlName="receptionistName">
                                        <div *ngIf="f.receptionistName.errors" class="help-block">
                                            <div *ngIf="f.receptionistName.errors.required">Clinic Manager Name is required</div>
                                      </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label>Email<span class="text-danger">*</span></label>
                                        <input class="form-control" type="text" required formControlName="email">
                                        <div *ngIf="f.email.errors" class="help-block">
                                            <div *ngIf="f.email.errors.required">Email is required</div>
                                      </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label class="display-block">Status<span class="text-danger">*</span></label>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" formControlName="status"
                                                id="active" value="true">
                                            <label class="form-check-label" for="active">
                                                Active
                                            </label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" formControlName="status"
                                                id="inactive" value="false">
                                            <label class="form-check-label" for="inactive">
                                                Inactive
                                            </label>
                                        </div>
                                        <div *ngIf="f.status.errors" class="help-block">
                                            <div *ngIf="f.status.errors.required">Status is required</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="m-t-20 text-center">
                                <button [disabled]="isSubmitted === true || submitForm.invalid" class="btn btn-primary submit-btn">Add</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
