<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li class="menu-title">Main</li>
                <li class="active" routerLinkActive="active">
                    <a routerLink="/master/dashboard"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a>
                </li>
                <li class="active" routerLinkActive="active">
                    <a routerLink="/master/clinic"><i class="fa fa-hospital-o"></i> <span>Clinic</span></a>
                </li>
                <li class="active" routerLinkActive="active">
                    <a routerLink="/master/doctor"><i class="fa fa-user-md"></i> <span>Doctor</span></a>
                </li>
                <li class="active" routerLinkActive="active">
                    <a routerLink="/master/receptionist"><i class="fa fa-user"></i> <span>Receptionist</span></a>
                </li>
                <li class="active" routerLinkActive="active">
                    <a routerLink="/master/room"><i class="fa fa-bed"></i> <span>Room</span></a>
                </li>
                <li class="active" routerLinkActive="active">
                    <a routerLink="/master/settings/location"><i class="fa fa-bed"></i> <span>Settings</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>