<div class="main-wrapper">
    <app-header></app-header>
    <app-sidebar></app-sidebar>
    <div class="page-wrapper">
        <div class="content">
            <div class="row">
                <div class="col-sm-4 col-3">
                    <h4 class="page-title">Rooms</h4>
                </div>
            </div>
            <!-- <div class="row filter-row">
                <div class="col">
                    <div class="form-group form-focus">
                        <label class="focus-label">Doctor Name</label>
                        <input type="text" class="form-control floating">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group form-focus">
                        <label class="focus-label">Clinic Name</label>
                        <input type="text" class="form-control floating">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group form-focus">
                        <label class="focus-label">Room Number</label>
                        <input type="text" class="form-control floating">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group form-focus select-focus">
                        <label class="focus-label">Paid Status</label>
                        <select class="select floating">
                            <option>None</option>
                            <option>Paid</option>
                            <option>Unpaid</option>
                        </select>
                    </div>
                </div>
                <div class="col">
                    <a href="#" class="btn btn-success btn-block"> Search </a>
                </div>
            </div> -->
            <div class="row">
                <div class="col-md-12">
                    <div class="spinner-border text-primary" role="status" *ngIf="undefined === getAll">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <div *ngIf="undefined !== getAll">
                    <div class="table-responsive">
                        <table class="table table-striped custom-table">
                            <thead>
                                <tr>
                                    <!-- <th style="min-width:200px;">Name</th> -->
                                   <th>#</th>
                                    <th>Doctor Name</th>
                                    <th>Clinic Name</th>
                                    <th>Room Number</th>
                                    <th>Rent per month</th>
                                    <!-- <th style="min-width: 110px;">Join Date</th> -->
                                    <th>State</th>
                                    <th>Last Paid On</th>
                                    <th>Paid Status</th>
                                    <th class="text-right">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let getOne of getAll; let i = index">
                                    <td>{{i+1}}</td>
                                    <td>{{getOne?.doctorData?.doctorName || '-'}}</td>
                                    <td>{{getOne?.clinicData?.clinicName}}</td>
                                    <td>{{getOne?.roomNumber}}</td>
                                    <td>{{getOne?.rentPerMonth}}</td>
                                    <td>{{getOne?.clinicData?.state}}</td>
                                    <td>{{(getOne?.paidOn | date:'medium') || '-'}}</td>
                                    <td>{{getOne?.paidStatus}}</td>
                                    <!-- <td>
                                        <span class="custom-badge status-green">Paid</span>
                                    </td> -->
                                    <td class="text-right">
                                        <div class="dropdown dropdown-action">
                                            <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown"
                                                aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" routerLink="view/{{getOne._id}}" routerLinkActive="active"><i
                                                    class="fa fa-eye"></i> View</a>
                                                <a class="dropdown-item" routerLink="edit/{{getOne._id}}" routerLinkActive="active"><i
                                                        class="fa fa-pencil m-r-5"></i> Edit</a>
                                                <a class="dropdown-item" href="#" data-toggle="modal"
                                                        data-target="#delete" (click)="getIdData(getOne._id)"><i
                                                            class="fa fa-trash-o m-r-5"></i>
                                                        Delete</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="delete" class="modal fade" role="dialog">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body text-center">
                        <img src="assets/img/sent.png" alt="" width="50" height="46">
                        <h3>Are you sure want to delete this?</h3>
                        <div class="m-t-20"> <a href="#" class="btn btn-white" data-dismiss="modal">Close</a>
                            <a href="#" (click)="deleteOne(getId)" class="btn btn-danger" data-dismiss="modal">
                                Delete
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>