<div class="main-wrapper">
    <app-header></app-header>
    <app-sidebar></app-sidebar>
    <div class="page-wrapper">

        <div class="content">

            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <h4 class="page-title">Add Room</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <p *ngIf="message" class="text-center error">{{message}}</p>
                    <form class="form" [formGroup]="submitForm" (ngSubmit)="addData(submitForm.value)">
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label>Room Number<span class="text-danger">*</span></label>
                                    <input class="form-control" type="number" required autofocus=""
                                        formControlName="roomNumber">
                                    <div *ngIf="f.roomNumber.errors" class="help-block">
                                        <div *ngIf="f.roomNumber.errors.required">Room Number is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label>Rent Per Month</label>
                                    <input class="form-control" type="number" formControlName="rentPerMonth">
                                    <!-- <div *ngIf="f.rentPerMonth.errors" class="help-block">
                                            <div *ngIf="f.rentPerMonth.errors.required">State is required</div>
                                      </div> -->
                                </div>
                            </div>
                        </div>
                        <div class="m-t-20 text-center">
                            <button [disabled]="isSubmitted === true || submitForm.invalid"
                                class="btn btn-primary submit-btn">Add</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>