<div class="main-wrapper">
    <app-header></app-header>
    <app-sidebar-settings></app-sidebar-settings>
    <div class="page-wrapper">

        <div class="content">
            <div class="spinner-border text-primary" role="status" *ngIf="undefined === getData">
                <span class="sr-only">Loading...</span>
            </div>
            <div *ngIf="undefined !== getData">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <h4 class="page-title">Edit Location</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <form class="form" [formGroup]="submitForm" (ngSubmit)="updateByIdData(id, submitForm.value)">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label>State<span class="text-danger">*</span></label>
                                        <input type="text" formControlName="state" class="form-control" onkeyup="this.value=this.value.replace(/[^a-zA-Z]+/,'')"
                                            [ngClass]="{'is-invalid': isSubmitted && f.state.errors }" />
                                        <div *ngIf=" isSubmitted && f.state.errors" class="invalid-feedback">
                                            <div *ngIf="f.state.errors.required">State is required</div>
                                        </div>
                                        <div class="red-text hidden" *ngIf="isSubmitted" id="val_id1">Empty field is
                                            not allowed</div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label>City<span class="text-danger">*</span></label>
                                        <input type="text" formControlName="city" class="form-control" onkeyup="this.value=this.value.replace(/[^a-zA-Z]+/,'')"
                                            [ngClass]="{'is-invalid': isSubmitted && f.city.errors }" />
                                        <div *ngIf=" isSubmitted && f.city.errors" class="invalid-feedback">
                                            <div *ngIf="f.city.errors.required">City is required</div>
                                        </div>
                                        <div class="red-text hidden" *ngIf="isSubmitted" id="val_id2">Empty field is
                                            not allowed</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label>Location<span class="text-danger">*</span></label>
                                        <input type="text" formControlName="location" class="form-control" onkeyup="this.value=this.value.replace(/[^a-zA-Z]+/,'')"
                                            [ngClass]="{'is-invalid': isSubmitted && f.location.errors }" />
                                        <div *ngIf=" isSubmitted && f.location.errors" class="invalid-feedback">
                                            <div *ngIf="f.location.errors.required">Location is required</div>
                                        </div>
                                        <div class="red-text hidden" *ngIf="isSubmitted" id="val_id3">Empty field is
                                            not allowed</div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label>Pincode<span class="text-danger">*</span></label>
                                        <input type="text" formControlName="pincode" class="form-control"
                                            [ngClass]="{'is-invalid': isSubmitted && f.pincode.errors }" />
                                        <div *ngIf=" isSubmitted && f.pincode.errors" class="invalid-feedback">
                                            <div *ngIf="f.pincode.errors.required">Pincode is required</div>
                                        </div>
                                        <div class="red-text hidden" *ngIf="isSubmitted" id="val_id4">Empty field is
                                            not allowed</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label class="display-block">Status<span class="text-danger">*</span></label>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" formControlName="status"
                                                id="active" value="true">
                                            <label class="form-check-label" for="active">
                                                Active
                                            </label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" formControlName="status"
                                                id="inactive" value="false">
                                            <label class="form-check-label" for="inactive">
                                                Inactive
                                            </label>
                                        </div>
                                        <div *ngIf="f.status.errors" class="help-block">
                                            <div *ngIf="f.status.errors.required">Status is required</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="m-t-20 text-center">
                                <button class="btn btn-primary submit-btn">Update</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>