<div class="main-wrapper">
    <app-header></app-header>
    <app-sidebar-settings></app-sidebar-settings>
    <div class="page-wrapper">
        
            <div class="content">
                <div *ngIf="undefined === getData">Loading...</div>
        <div *ngIf="undefined !== getData">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <h4 class="page-title">Edit Location</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <p *ngIf="message" class="text-center error">{{message}}</p>
                        <form class="form" [formGroup]="submitForm"
                            (ngSubmit)="updateByIdData(id, submitForm.value)">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label>State<span class="text-danger">*</span></label>
                                        <input class="form-control" type="text" required autofocus="" formControlName="state">
                                        <div *ngIf="f.state.errors" class="help-block">
                                            <div *ngIf="f.state.errors.required">State is required</div>
                                      </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label>City<span class="text-danger">*</span></label>
                                        <input class="form-control" type="text" required formControlName="city">
                                        <div *ngIf="f.city.errors" class="help-block">
                                            <div *ngIf="f.city.errors.required">City is required</div>
                                      </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label>Pincode<span class="text-danger">*</span></label>
                                        <input class="form-control" type="number" required formControlName="pincode">
                                        <div *ngIf="f.pincode.errors" class="help-block">
                                            <div *ngIf="f.pincode.errors.required">Pincode is required</div>
                                      </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label>Address<span class="text-danger">*</span></label>
                                        <input class="form-control" type="text" required formControlName="address">
                                        <div *ngIf="f.address.errors" class="help-block">
                                            <div *ngIf="f.address.errors.required">Address is required</div>
                                      </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label class="display-block">Status<span class="text-danger">*</span></label>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" formControlName="status"
                                                id="active" value="true">
                                            <label class="form-check-label" for="active">
                                                Active
                                            </label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" formControlName="status"
                                                id="inactive" value="false">
                                            <label class="form-check-label" for="inactive">
                                                Inactive
                                            </label>
                                        </div>
                                        <div *ngIf="f.status.errors" class="help-block">
                                            <div *ngIf="f.status.errors.required">Status is required</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="m-t-20 text-center">
                                <button [disabled]="isSubmitted === true || submitForm.invalid"
                                    class="btn btn-primary submit-btn">Update</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
