<div class="main-wrapper">
    <app-header></app-header>
    <app-sidebar></app-sidebar>
    <div class="page-wrapper">
        <div class="content">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <h4 class="page-title">Add Banner</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <form class="form" [formGroup]="submitForm" (ngSubmit)="addData(submitForm, submitForm.value)">
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label>Banner Title<span class="text-danger">*</span></label>
                                    <input type="text" formControlName="bannerTitle" class="form-control"
                                        [ngClass]="{'is-invalid': isSubmitted && f.bannerTitle.errors }" />
                                    <div *ngIf=" isSubmitted && f.bannerTitle.errors" class="invalid-feedback">
                                        <div *ngIf="f.bannerTitle.errors.required">Banner Title is required</div>
                                        <div *ngIf="f.bannerTitle.errors.pattern">Only alphabets is accepted</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label>Category<span class="text-danger">*</span></label>
                                    <select class="custom-select"
                                        formControlName="categoryName" [ngClass]="{'is-invalid': isSubmitted && f.categoryName.errors }">
                                        <option value="">Choose your category</option>
                                        <option *ngFor="let category of Category" [ngValue]="category">{{category}}</option>
                                    </select>
                                    <div *ngIf=" isSubmitted && f.categoryName.errors" class="invalid-feedback">
                                        <div *ngIf="f.categoryName.errors.required">Category is required</div>
                                        <!-- <div *ngIf="f.email.errors.email">Email must be a valid email address</div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label>Browse Image<span class="text-danger">*</span></label>
                                    <!-- <input type="text" formControlName="contactNumber" class="form-control"
                                        [ngClass]="{'is-invalid': isSubmitted && f.contactNumber.errors }" /> -->
                                    <input formControlName="file" id="file" type="file" class="form-control"
                                        (change)="onFileChange($event)">
                                    <div *ngIf=" isSubmitted && f.file.errors" class="invalid-feedback">
                                        <div *ngIf="f.file.errors.required">Image is required</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <img [src]="imageSrc" *ngIf="imageSrc" style="height: 300px; width:500px">
                        <div class="m-t-20 text-center">
                            <button class="btn btn-primary submit-btn">Add</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>